{% extends "main/base.html" %}
{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block content %}
    <main class="page lanidng-page" style="padding-top:0px;">
        <section class="portfolio-block block-intro" style="height:100vh;background-color:#f1f1f1;padding-top:180px;">
            <div class="container align-content-center"><img class="rounded-circle img-fluid pulse animated" src="{% static '/main/assets/img/jeroen.jpg' %}" style="height:50vh;">
                <div class="about-me" style="margin-top:50px;">
                    <p>Hello! My name is<strong>&nbsp;Jeroen Wernekinck</strong>. data scientist with a passion for new technologies like machine learning, voice assistance and blockchain.</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block website gradient" style="background-image:url(&quot;none&quot;);background-color:#26686d;">
            <h2 class="text-center" style="padding-bottom:50px;">My Profession.</h2>
            <div class="container">
                <div class="row align-items-center" style="padding-top:30px;padding-bottom:60px;">
                    <div class="col-md-12 col-lg-4 offset-lg-0 text">
                        <h3 class="text-left">Data Visualisation</h3>
                        <p class="text-left">Visually presented data analytics, enables decision makers to grasp even the most difficult concepts. It can also help in identifying new patterns. With interactive visualisations, one is able to take the concept even further by
                            enabling drilling down into charts and graphs for more detail, interactively changing what data you see and how it’s processed.<br><br></p>
                    </div>
                    <div class="col-md-12 col-lg-7 offset-lg-1 text"><img class="img-fluid" src="{% static '/main/assets/img/gentelella.png' %}" data-aos="fade-left" data-aos-duration="600" id="Dashboard"></div>
                </div>
                <div class="row align-items-center" style="padding-top:60px;">
                    <div class="col-md-12 col-lg-7 offset-md-0 offset-lg-0 text">
                        <div data-bs-hover-animate="pulse" class="macbook-mockup"><img src="{% static '/main/assets/img/macbook.svg' %}" class="device">
                            <div class="screen" style="background-image:url(&quot;{% static '/main/assets/img/vim-white-bg.png' %}&quot;);background-size:cover;background-repeat:no-repeat;"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 offset-lg-1 text">
                        <h3 class="text-left">Modeling</h3>
                        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                    </div>
                </div>
                <div class="row align-items-center" style="padding-top:60px;">
                    <div class="col"><img class="img-fluid" src="{% static '/main/assets/img/data.png' %}"></div>
                </div>
            </div>
        </section>
        <section class="highlight-blue" style="background-color:#998c0a;">
            <div class="intro">
                <h2 class="text-center">Fun fact.</h2>
                <p class="text-center" style="color:#ffffff;">This website is completely build with Python!</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="/login" style="color:#dfdce3;">Get The Source Code</a></div>
        </section>
        <section class="portfolio-block skills" style="background-color:#f1f1f1;">
            <h2 class="text-center" style="padding-bottom:50px;">My passion.</h2>
            <div class="heading">
                <div class="container" style="padding-top:50px;">
                    <div class="row">
                        <div class="col-md-4" data-bs-hover-animate="pulse">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-ios-cog-outline" style="background-color:#56c6c6;"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Machine Learning</h3>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" data-bs-hover-animate="pulse">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-android-microphone" style="background-color:#56c6c6;"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Voice Assistant</h3>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" data-bs-hover-animate="pulse">
                            <div class="card special-skill-item border-0" style="background-color:#ffffff;">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-android-apps" style="background-color:#56c6c6;"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Blockchain</h3>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="highlight-blue" style="background-color:#56c6c6;">
            <div class="intro">
                <h2 class="text-center">Ready for some action?</h2>
                <p class="text-center" style="color:#ffffff;">Log in or create an account.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="/login" data-bs-hover-animate="pulse" style="color:#dfdce3;">Go to Log in</a></div>
        </section>
        <section class="portfolio-block skills" style="background-color:#ffffff;">
            <h2 class="text-center" style="padding-bottom:5%;">My software skills.</h2>
            <div class="heading">
                <div class="container">
                    <div class="row align-items-center" style="padding-top:10%;padding-bottom:10%;">
                        <div class="col-md-12 col-lg-4 offset-lg-0 text">
                            <h3 class="text-left">Open-source</h3>
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                        </div>
                        <div class="col-md-12 col-lg-7 offset-lg-1 text">
                            <div class="row">
                                <div class="col" data-aos="fade-left" data-aos-delay="200"><img class="img-fluid" src="{% static '/main/assets/img/RStudio-Ball.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                                <div class="col" data-aos="fade-left" data-aos-delay="500"><img class="img-fluid" src="{% static '/main/assets/img/Python_logo_and_wordmark.svg.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center" style="padding-top:10%;padding-bottom:10%;">
                        <div class="col-md-12 col-lg-4 offset-lg-0 order-2 text">
                            <h3 class="text-left">Third party analytics</h3>
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col" data-aos="fade-right" data-aos-delay="800"><img class="img-fluid" src="{% static '/main/assets/img/connector-adobe-analytics.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                                <div class="col" data-aos="fade-right" data-aos-delay="200"><img class="img-fluid" src="{% static '/main/assets/img/logo_lockup_analytics_icon_vertical_black_2x.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                                <div class="col" data-aos="fade-right" data-aos-delay="500"><img class="img-fluid" src="{% static '/main/assets/img/Logo-IBM-Watson.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center" style="padding-top:10%;padding-bottom:5%;">
                        <div class="col-md-12 col-lg-4 offset-lg-0 text">
                            <h3 class="text-left">Dashboarding</h3>
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col m-auto" data-aos="fade-left" data-aos-delay="500"><img class="img-fluid" src="{% static '/main/assets/img/connector-adobe-analytics.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                                <div class="col m-auto" data-aos="fade-left" data-aos-delay="800"><img class="img-fluid" src="{% static '/main/assets/img/shiny.png' %}" data-bs-hover-animate="pulse" style="height:100px;"></div>
                                <div class="col" data-aos="fade-left" data-aos-delay="200"><img class="img-fluid" src="{% static '/main/assets/img/qlik-sense-logo.png' %}" data-bs-hover-animate="pulse" style="height:135px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 m-auto">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}