{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2 style="text-align:center">Sign up</h2>
            <div class="illustration"><i class="icon ion-ios-unlocked-outline" style="color:#56c6c6;"></i></div>
            {% csrf_token %}
            {% include 'user_model/form.html' with form=form %}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign up</button></div>
            </div>
        </form>
    </div>
{% endblock %}