{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Sign up{% endblock %}
{% block content %}
% block content %}
    <div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2>Almost there!</h2>
            <p>
    Please confirm your email address to complete the registration.
  </p>
  <a class="nav-link" href="/" style=""><button class="btn btn-primary" type="button" id="photo-tags" style="height:40px;padding-top:0px;background-color:rgb(86,198,198);">Home</button></a>
        </form>
    </div>
{% endblock %}
