{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2 style="text-align:center">Sign up</h2>
            <div class="illustration"><i class="icon ion-ios-unlocked-outline" style="color:#56c6c6;"></i></div>
            <p>Thank you for your email confirmation. You can now login to your account.</p>

                <a href="{% url 'login'%}"><button class="btn btn-primary btn-block">log in</button></a>
        </form>
    </div>
{% endblock %}
