{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jeroen Wernekinck -{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/main/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{% static '/main/assets/css/styles.min.css' %}">
</head>

<body style="background-color:#2c3e50;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">Jeroen Wernekinck</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/cv">CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/github">Github</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/CV">Download CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout" style="height:40px;padding-top:0px;"><button class="btn btn-primary" type="button" id="photo-tags" style="height:40px;padding-top:0px;background-color:rgb(86,198,198);">Logout</button></a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/login" style="height:40px;padding-top:0px;"><button class="btn btn-primary" type="button" id="photo-tags" style="height:40px;padding-top:0px;background-color:rgb(86,198,198);">Login</button></a></li>
                    {% endif %}
                </ul>
        </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="social-icons" style="padding-top:35px;padding-bottom:35px;background-color:rgb(44,62,80);"><a href="https://www.linkedin.com/in/jeroen-wernekinck-2b2a12a7" target="_blank" style="color:#56c6c6;"><i class="icon ion-social-linkedin" data-bs-hover-animate="pulse"></i></a><a href="https://www.facebook.com/jeroen.wernekinck" style="color:#56c6c6;"></a></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script src="{% static '/main/assets/js/script.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>

</html>