{% extends "main/base.html" %}
{% block title %}Contact{% endblock %}
{% load staticfiles %}
{% block content %}
    <main class="page hire-me-page" style="background-color:#ffffff;">
        <section class="portfolio-block hire-me">
            <form method="post">
            <div class="container">
                <div class="heading">
                    <h2>Contact Me</h2>
                </div>
                   {% csrf_token %}
                    {% include 'user_model/form.html' with form=form %}
                    <div class="g-recaptcha" data-sitekey="6Le2GG8UAAAAAOgmRz8lP-UFhyprz7ucNRxZ5fE_"></div>
                    <div class="form-actions" style="margin-top:10px;"><button class="btn btn-success btn-block" type="submit">Send</button></div>
            </form>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}