{% extends "main/base.html" %}
{% block title %}Contact{% endblock %}
{% load staticfiles %}
{% block content %}
    <main class="page hire-me-page" style="background-color:#ffffff;">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Contact Me</h2>
                </div>
                   <p>Success! Thank you for your message.</p>
                <a class="nav-link" href="/" style=""><button class="btn btn-primary" type="button" id="photo-tags" style="height:40px;padding-top:0px;background-color:rgb(86,198,198);">Home</button></a>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}