{% extends "main/base.html" %}
{% block title %}CV{% endblock %}
{% load staticfiles %}
{% block content %}
    <main class="page cv-page">
        <section id="Personalia" style="background-color:#ffffff;padding-top:0px;">
            <div class="container" style="padding-top:160px;padding-bottom:160px;">
                <div class="swing animated photo-card" style="max-width:90%;">
                    <div class="photo-background Welcome-photo" style="background-image:url(&quot;{% static '/main/assets/img/LED%20commissiefoto%20-%20crop.jpg' %}&quot;);min-width:297px;"></div>
                    <div class="photo-details" style="background-color:rgb(44,62,80);">
                        <h1 style="font-weight:bold;">J.W.M. Wernekinck MSc.</h1>
                        <p style="margin-bottom:0px;font-weight:bold;margin-top:32px;">Languages:</p>
                        <p style="margin-bottom:0px;">Dutch (Native)</p>
                        <p style="margin-bottom:0px;">English (Proficient)</p>
                        <p style="margin-bottom:0px;font-weight:bold;margin-top:32px;">Address:</p>
                        <p style="margin-bottom:0px;">Robert Baeldestraat 193</p>
                        <p>3061 TJ Rotterdam</p>
                        <p style="margin-bottom:0px;font-weight:bold;margin-top:32px;">Age:</p>
                        <p style="margin-bottom:0px;">24</p>
                        <div class="photo-tags" style="margin-top:32px;">
                            {% if request.user.is_authenticated %}
                            <div><a href="/login" class="linkie" style="width:140px;">Download CV</a></div>
                            {% else %}
                            <div><a href="/login" class="linkie" style="width:140px;">Download CV</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block cv" style="background-color:#eeeeee;">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Work Experience</h2>
                    </div>
                    <div class="item" style="margin-bottom:0px;">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row order-2">
                                    <div class="col-md-7">
                                        <h3>Marketing Data Analyst</h3>
                                    </div>
                                    <div class="col-md-5"><span class="period">05/2018 - Present</span></div>
                                    <div class="col">
                                        <p class="text-muted">Translating data into insights by applying advanced analytics, building performance dashboards and performing predictive modeling. Based on these insights, we are able to advise the internal and external clients
                                            so that they can further optimize their marketing activities.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.oxyma.nl" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/LOGO-Oxyma-a-merkle-company.png' %}" style="background-repeat:no-repeat;height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="margin-bottom:0px;">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-6">
                                        <h3>Founder</h3>
                                    </div>
                                    <div class="col-md-6"><span class="period">10/2017 - Present</span></div>
                                    <div class="col">
                                        <p class="text-muted">Founded Sudometrics, a consultancy bureau that combines data analytics with web development. Happily served two customers: Thio Pharma Holding and Bittiq.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.sudometrics.com" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/LOGO+Naam-02.png'%}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Internship</h3>
                                    </div>
                                    <div class="col-md-6"><span class="period">03/2017 - 08/2017</span></div>
                                    <div class="col">
                                        <p class="text-muted">Completed the advisory process of a consultant - from the first conversation to the final presentation at the client. Helped the client to understand their challenges, gathered and cleaned the data, analyzed it,
                                            and communicated my recommendations. The challenge of the customer was twofold: it was relevant to the client and it provided sufficient depth to write my master thesis about it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.gibbsqrc.com" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/gbb_logo.gif'%}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-8 col-xl-8">
                                        <h3>Treasurer &amp; Vice-President of the 50th Board</h3>
                                    </div>
                                    <div class="col-md-4 col-xl-4"><span class="period">07/2015 - 09/2016</span></div>
                                    <div class="col">
                                        <p class="text-muted">Full-time board position at the largest association in econometrics of the world. With over 1400 members and a budget consisting of €250.000 it was my ultimate responsibility to insure that the finances of the association
                                            were organised and&nbsp; managed effectively.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.faector.nl" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/logo-faector-full.svg' %}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3>Day coordinator &amp; Treasurer</h3>
                                    </div>
                                    <div class="col-md-4"><span class="period">03/2015 - 03/2016</span></div>
                                    <div class="col">
                                        <p class="text-muted">The National Econometricians Day is the largest annual recruitment event for econometric students. It was my ultimate responsibility to insure that the budget of €175.000 and the finances of the day were organised
                                            and managed effectively. Being the day coordinator, the layout, location and program of the day were also my responsibility.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.leditbeyourday.nl" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/Logo-LED-2016.png' %}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Internship</h3>
                                    </div>
                                    <div class="col-md-6"><span class="period">09/2015 - 10/2015</span></div>
                                    <div class="col">
                                        <p class="text-muted">Selected for the International Research Project program offered by FAECTOR.&nbsp; Carried out a two months research for Aegon by automating the piecewise process to generate scenario’s in their hedge program.&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.aegon.com" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/AEGON_(logo).svg.png' %}" style="background-size:cover;height:100px;"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-aos="flip-down" class="portfolio-block call-to-action border-bottom" style="padding-top:60px;padding-bottom:60px;background-color:#56c6c6;">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3 style="color:rgb(255,255,255);">Like what you see?</h3><a href="/contact"><button class="btn btn-outline-primary btn-lg" type="button" style="color:rgb(255,255,255);background-color:#2c3e50;border-color:rgb(86,198,198);">Contact me</button></a></div>
            </div>
        </section>
        <section class="portfolio-block cv" style="background-color:#ffffff;">
            <div class="container">
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <h3>Master Econometrics &amp; Management Science</h3>
                                        <h6>Specialised in Business Analytics &amp; &nbsp;Quantitative Marketing</h6>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3"><span class="period">09/2016 - 03/2018</span></div>
                                    <div class="col-12">
                                        <p class="text-muted">Combined the writting of the thesis with a duo-internship at Gibbs Quantitative Research &amp; Consulting. Performed the thesis research in association with dutch media agency Stroom. &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://ese.eur.nl" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/ESEfb_tegel_1.png' %}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3>Bachelor Econometrics &amp; Operations Research</h3>
                                    </div>
                                    <div class="col-md-4"><span class="period">09/2012 - 09/2016</span></div>
                                    <div class="col">
                                        <div class="photo-tags" style="margin-top:32px;">
                                            <p class="text-muted">Title thesis: “Mixed integer and heuristics model for the inventory routing problem”.</p>
                                            <div><a href="https://thesis.eur.nl/pub/30376/Wernekinck.pdf" target="_blank" class=btn-primary;nav-link;btn" style="width:140px;">Open Thesis</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://ese.eur.nl" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/ESEfb_tegel_1.png' %}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-8 col-lg-9 col-xl-9 order-4 Work-text" style="max-width:100%;max-height:100%;padding:40px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Atheneum (VWO)</h3>
                                    </div>
                                    <div class="col-md-6"><span class="period">09/2016 - 07/2012</span></div>
                                    <div class="col">
                                        <div class="photo-tags" style="margin-top:32px;">
                                            <p class="text-muted">Profile: Nature and Health - with Economics and Management &amp; Organization. Participated in the First Tech Challenge 2011.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm-12 col-md-4 col-lg-3 col-xl-3 d-block order-3">
                                <div><a href="https://www.stanislascollege.nl/westplantsoen/" target="_blank"><img class="img-fluid" src="{% static '/main/assets/img/logo.png' %}" style="height:170px;"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block cv" style="background-color:#eeeeee;">
            <div class="container">
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div data-aos="flip-down" class="skills portfolio-info-card" style="background-color:#fff;">
                                <h2>Skills</h2>
                                <h3>Python</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                                </div>
                                <h3>R</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                                </div>
                                <h3>SQL</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                </div>
                                <h3>Qlik Sense</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                </div>
                                <h3>VBA</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                </div>
                                <h3>HTML, CSS &amp; JavaScipt</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div data-aos="flip-down" data-aos-delay="100" class="contact-info portfolio-info-card" style="background-color:#fff;">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>Jeroen Wernekinck</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                    <div class="col-9"><span>+31 6 42 344 582</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span>jeroen@wernekinck.nl</span></div>
                                </div>
                                <h2 style="margin-top:24px;">Certificates</h2>
                                <div class="row" style="padding-bottom:10%;">
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/bc0d80de6256d1ff87ee1c98a546462fba52a08f" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;background-color:#ffffff;"></a></div>
                                    </div>
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/3b7d40cf112b38aaadbf812e69db9fa1e75b0a4d" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;"></a></div>
                                    </div>
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/6fd593bb21645c20b45981162382cfaf456633c7" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;"></a></div>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10%;">
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/0d6f39fd702cb1cb783257a38784d4e1964d6172" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;"></a></div>
                                    </div>
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/8484c042fe278e8f2bc88a7aa9095f87fd80aa57" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;"></a></div>
                                    </div>
                                    <div class="col-4">
                                        <div><a href="https://www.datacamp.com/statement-of-accomplishment/course/ebd49a3d0de18d3a9109dba9534b34a189d7984c" target="_blank"><img class="img-fluid certificate" src="{% static '/main/assets/img/DataCamp_logo_top-300x300.png' %}" data-bs-hover-animate="pulse" style="width:100px;"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}