{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block content %}
% block content %}
    <div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2>Password Recovery</h2>
            <p>
    Your password has now been reset. Go ahead and log in!
  </p>
            <a href="{% url 'login'%}?next={{request.path}}"><button class="btn btn-primary btn-block">log in</button></a>
        </form>
    </div>
{% endblock %}
