{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2 style="text-align:center">Password Recovered</h2>
            <div class="illustration"><i class="icon ion-ios-unlocked-outline" style="color:#56c6c6;"></i></div>
            {% csrf_token %}
            {% if validlink %}
            {% include 'user_model/form.html' with form=form %}
            <button class="btn btn-primary btn-block" value="Change Password">Change Password</button>
            {% else %}

            <p>Password reset failed</p>

            {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
