{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block content %}
% block content %}
    <div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2>Password Recovery</h2>
            <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <a class="nav-link" href="/" style
        </form><button class="btn btn-primary" type="button" id="photo-tags" style="height:40px;padding-top:0px;background-color:rgb(86,198,198);">Home</button></a>
    </div>
{% endblock %}
