{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block content %}
% block content %}
    <div class="login-dark" style="background:url(&quot;{% static '/main/assets/img/star-sky.jpg' %}&quot;">
        <form method="post">
            <h2>Password Recovery</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color:#56c6c6;"></i></div>
            {% csrf_token %}
            {% include 'user_model/form.html' with form=form %}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Recover</button></div>
                <div class="col"><a href="/user/signup" class="forgot">Sign up</a></div>
                <div class="col"><a href="/password_reset" class="forgot">Forgot password</a></div>
            </div>
        </form>
    </div>
{% endblock %}